.wrapper {
  padding-top: 50px;
  background-image:url(../../images/background1.jpg);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  
}
