* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  transition: .1s;
}
.title{
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  font-size: 20px
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.row {
  margin-right: 0px;
  margin-left: 35px;
}



