.jumbotron {
    background: url(../../images/Logo.jpg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;    
    text-align: center;
    color: red;
}